/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.log_in {
	list-style: none;
	float: left;
}
li a {
	display: block;
}*/
.log_in {
	float: right;
	padding-right: 10px;
	margin-top: 5px;
}
.log_in ul{
  list-style: none;
}

.log_in ul li {
	float:left;
	width: auto;
}

.log_in ul li a {
	margin-left: 10px;
	padding: 5px;
	text-decoration: none;
	color: gold;
}
.log_in ul li a:hover {
	color: skyblue;
}
.log_out {
	float: right;
	padding-right: 10px;
	margin-top: 5px;
}
.log_out ul {
		list-style: none;
}
.log_out ul li {
	float:left;
	width: auto;
}

.log_out ul li a {
	margin-left: 10px;
	padding: 5px;
	text-decoration: none;
	color: gold;
}
.log_out ul li a:hover {
	color: skyblue;
}

