// Place all the styles related to the p3s controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header {
	height: 100px;
	border-bottom: 1px solid gold;
	color: gold;
	width: 100%;
	margin: 0px;

}
.header h4 {
	text-align: center;
	padding-top: 30px;
	color: gray;
}
.profile_img img {
	border-radius: 50%;
}

.post {
	margin-top: 15px;
}
.new_action {
	margin-bottom: 10px;
}
/*.comment {
	width: 300px;
	height:100px;
	border: 1px solid pink;
}*/

.edit {
	margin-top: 10px;

}
#picture_picture {
	margin: 0 auto;
	margin-bottom: 20px;
}
.post {
	
	color: pink;
}
.row {
	margin-top: 10px;
}
.push {
	margin-top: 15px;
}
.profile {
	width: 550px;
	height: 70px;
	margin-left: 100px;
	border: 1px solid skyblue;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 10px;
}

 .text {
   /*width: 800px;*/
   margin-top: 30px;
   font-size: 25px;
   text-align: left;

 }
 .text p {

   /*text-align: left;*/
   font-size: 18px;
   color: #505050;/*文字色*/
   padding: 0.5em;/*文字周りの余白*/
   display: inline-block;/*おまじない*/
   line-height: 1.3;/*行高*/
   background: #dbebf8;/*背景色*/
   vertical-align: middle;/*上下中央*/
   border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/

 }
 .text p:before {
 	content: '●';
    color: white;
    margin-right: 8px;

 }
 .price {
   /*width: 200px;*/
   /*margin-left: 10px;*/
   margin-top: 5px;
   font-size: 25px;
   text-align: left;

   /*border-bottom: 1px solid silver;*/
 }
 .price p{
 	/*text-align: left;*/
 	font-size: 18px;
 	color: #505050;/*文字色*/
    padding: 0.5em;/*文字周りの余白*/
    display: inline-block;/*おまじない*/
    line-height: 1.3;/*行高*/
    background: #dbebf8;/*背景色*/
    vertical-align: middle;/*上下中央*/
    border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/

 }
 .price p:before {
 	content: '●';
    color: white;
    margin-right: 8px;

 }
 .title {
 	position:relative;
     width: auto;
     margin-top: 50px;
     font-size: 25px;
     text-align: left;/*中のpの文字を左端に*/


  }

 .title p {
 	font-size: 18px;
 	width: auto;
 	color: #505050;/*文字色*/
    padding: 0.5em;/*文字周りの余白*/
    display: inline-block;/*おまじない*/
    line-height: 1.3;/*行高*/
    background: #dbebf8;/*背景色*/
    vertical-align: middle;/*上下中央*/
    border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/

 }
.title p:before {
	content: '●';
	color: white;
	margin-right: 8px;
	}


 .profile_img  img{
	border-radius: 50%;
	margin: 0 auto;
	/*margin-top: 10px;*/
	height: 65px;
}
.profile:after {
	content: "";
	clear: both;
	display: block;

}
.profile_img  {
	float: left;
	width: 100px;
}
.user_name {
	float: right;
	width: 300px;
	color: blue;
}
body {
	text-align:center;
}
.comment {
	margin-top: 10px;
	color: pink;
}
.wrapper {
	padding-bottom: 100px;
}