
.login {
	border: 5px solid pink;
	width: 400px;
	height: 500px;
	margin: 0 auto;
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
	float:right;

}
.login h3 {
	font-family: 'Pacifico', cursive;
	font-size: 36px;
	width: auto;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;

}
.login a {
	text-decoration: none;

}
.login p {
	margin-top: 15px;
	color: blue;
}
.fa-sign-in {
	color: pink;
}

h4 {
	color: pink;
}

.contact {
	padding-top: 10px;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	text-align: center;
}
.container:after {
	content: "";
	clear: both;
	display: block;
}
header img {
	width: 100%;
	height: 100vh;
}
.login {
	float:right;
	width: 500px;
}
header  {
	/*height: 70px;*/
	background-size: cover;
	margin-top: 0;
    position: relative;
	/*border-bottom: 3px solid gold;
	color: gold;*/
}
.p3 {
	font-size: 18px;
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;
	width: 100px;
	height: 30px;
	position: absolute;
    top: 2%;
    left: 5%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.log_in {
    position: absolute;
    top: 5%;
    right: -5%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
/*.log_in li a{
	color: gray;
}
.log_out a{
	color: gray;
}*/

.log_out {
    position: absolute;
    top: 5%;
    right: -10%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
/*.fa-thumbs-o-up {
	font-size: 300px;
	color: blue;
}*/
.log_in {
	float: right;
	padding-right: 10px;
	margin-top: 5px;
	/*color: gray;*/
}
.log_in ul{
  list-style: none;
}

.log_in ul li {
	float:left;
	width: auto;
}

.log_in ul li a {
	margin-left: 10px;
	padding: 5px;
	text-decoration: none;
	color: gray;
}
.log_in ul li a:hover {
	color: skyblue;
}
.log_out {
	float: right;
	padding-right: 10px;
	margin-top: 5px;
}
.log_out ul {
		list-style: none;
}
.log_out ul li {
	float:left;
	width: auto;
}

.log_out ul li a {
	margin-left: 10px;
	padding: 5px;
	text-decoration: none;
	color: white;
}
.log_out ul li a:hover {
	color: skyblue;
}
.container-fluid {
	padding: 0;
}
.flash {
  color: black;
  padding-top: 10px;
}
.fa-weixin {
	font-size: 200px;
}
.inside {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.inside h1 {
	color: white;
	font-size: 35px;
}
.inside h1:hover {
	color: gray;
}
